.heading {
	text-align: center;
	color: var(--color-text-inverted);
	background: black;
	margin: 0 0 1rem;
	padding: 1em;
}

.container {
	margin: 0 1rem;
}

.button {
	all: unset;
  outline: revert;
	padding: 1rem;
	border-radius: 3px;
	border: 1px solid black;
}

.button--primary {
	color: var(--color-text-inverted);
	background-color: var(--color-background-inverted);
}

.button--secondary {
	background-color: var(--color-background);
}

.button--sm {
	padding: 0.125rem;
	min-width: 16px;
	min-height: 16px;
	text-align: center;
}